In [1]:
import pandas as pd

In [35]:
# Load the first sheet of the Excel file into a data frame
df = pd.read_excel('/home/cmjhunneil/Documents/Financial Statement(Dirty).xlsx', sheet_name='Income Statement')

In [36]:
df

,breakdown,ttm,end_of_2022,end_of_2021,end_of_2020,end_of_2019
0,Total Revenue,NaN,NaN,NaN,NaN,NaN
1,1480404000,NaN,NaN,NaN,NaN,NaN
2,1506591000,NaN,NaN,NaN,NaN,NaN
3,941193000,NaN,NaN,NaN,NaN,NaN
4,725797000,NaN,NaN,NaN,NaN,NaN
5,1020502000,NaN,NaN,NaN,NaN,NaN
6,Cost of Revenue,NaN,NaN,NaN,NaN,NaN
7,1252743000,NaN,NaN,NaN,NaN,NaN
8,1288086000,NaN,NaN,NaN,NaN,NaN
9,746050000,NaN,NaN,NaN,NaN,NaN
10,576449000,NaN,NaN,NaN,NaN,NaN
11,818815000,NaN,NaN,NaN,NaN,NaN
12,Gross Profit,NaN,NaN,NaN,NaN,NaN
13,227661000,NaN,NaN,NaN,NaN,NaN
14,218505000,NaN,NaN,NaN,NaN,NaN
15,195143000,NaN,NaN,NaN,NaN,NaN
16,149348000,NaN,NaN,NaN,NaN,NaN
17,201687000,NaN,NaN,NaN,NaN,NaN
18,Operating Expense,NaN,NaN,NaN,NaN,NaN
19,89819000,NaN,NaN,NaN,NaN,NaN
20,83857000,NaN,NaN,NaN,NaN,NaN
21,77708000,NaN,NaN,NaN,NaN,NaN
22,76087000,NaN,NaN,NaN,NaN,NaN
23,84928000,NaN,NaN,NaN,NaN,NaN
24,Operating Income,NaN,NaN,NaN,NaN,NaN
25,137842000,NaN,NaN,NaN,NaN,NaN
26,134648000,NaN,NaN,NaN,NaN,NaN
27,117435000,NaN,NaN,NaN,NaN,NaN
28,73261000,NaN,NaN,NaN,NaN,NaN
29,116759000,NaN,NaN,NaN,NaN,NaN
30,Net Non Operating Interest Income Expense,NaN,NaN,NaN,NaN,NaN
31,-68683000,NaN,NaN,NaN,NaN,NaN
32,-53687000,NaN,NaN,NaN,NaN,NaN
33,-45674000,NaN,NaN,NaN,NaN,NaN
34,-45853000,NaN,NaN,NaN,NaN,NaN
35,-45344000,NaN,NaN,NaN,NaN,NaN
36,Pretax Income,NaN,NaN,NaN,NaN,NaN
37,48081000,NaN,NaN,NaN,NaN,NaN
38,40077000,NaN,NaN,NaN,NaN,NaN
39,65952000,NaN,NaN,NaN,NaN,NaN
40,37410000,NaN,NaN,NaN,NaN,NaN
41,77087000,NaN,NaN,NaN,NaN,NaN
42,Tax Provision,NaN,NaN,NaN,NaN,NaN
43,17801000,NaN,NaN,NaN,NaN,NaN
44,13317000,NaN,NaN,NaN,NaN,NaN
45,17793000,NaN,NaN,NaN,NaN,NaN
46,15531000,NaN,NaN,NaN,NaN,NaN
47,28513000,NaN,NaN,NaN,NaN,NaN
48,Net Income Common Stockholders,NaN,NaN,NaN,NaN,NaN
49,-16894000,NaN,NaN,NaN,NaN,NaN
50,-19418000,NaN,NaN,NaN,NaN,NaN
51,5919000,NaN,NaN,NaN,NaN,NaN
52,-3967000,NaN,NaN,NaN,NaN,NaN
53,14142000,NaN,NaN,NaN,NaN,NaN
54,Diluted NI Available to Com Stockholders,NaN,NaN,NaN,NaN,NaN
55,-16894000,NaN,NaN,NaN,NaN,NaN
56,-19418000,NaN,NaN,NaN,NaN,NaN
57,5919000,NaN,NaN,NaN,NaN,NaN
58,-3967000,NaN,NaN,NaN,NaN,NaN
59,14142000,NaN,NaN,NaN,NaN,NaN
60,Basic EPS,NaN,NaN,NaN,NaN,NaN
61,-,NaN,NaN,NaN,NaN,NaN
62,-8,NaN,NaN,NaN,NaN,NaN
63,2,NaN,NaN,NaN,NaN,NaN
64,-2,NaN,NaN,NaN,NaN,NaN
65,6,NaN,NaN,NaN,NaN,NaN
66,Diluted EPS,NaN,NaN,NaN,NaN,NaN
67,-,NaN,NaN,NaN,NaN,NaN
68,-8,NaN,NaN,NaN,NaN,NaN
69,2,NaN,NaN,NaN,NaN,NaN
70,-2,NaN,NaN,NaN,NaN,NaN
71,6,NaN,NaN,NaN,NaN,NaN
72,Basic Average Shares,NaN,NaN,NaN,NaN,NaN
73,-,NaN,NaN,NaN,NaN,NaN
74,2384000,NaN,NaN,NaN,NaN,NaN
75,2384000,NaN,NaN,NaN,NaN,NaN
76,2384000,NaN,NaN,NaN,NaN,NaN
77,2384000,NaN,NaN,NaN,NaN,NaN
78,Diluted Average Shares,NaN,NaN,NaN,NaN,NaN
79,-,NaN,NaN,NaN,NaN,NaN
80,2384000,NaN,NaN,NaN,NaN,NaN
81,2384000,NaN,NaN,NaN,NaN,NaN
82,2384000,NaN,NaN,NaN,NaN,NaN
83,2384000,NaN,NaN,NaN,NaN,NaN
84,Rent Expense Supplemental,NaN,NaN,NaN,NaN,NaN
85,-,NaN,NaN,NaN,NaN,NaN
86,3304000,NaN,NaN,NaN,NaN,NaN
87,3060000,NaN,NaN,NaN,NaN,NaN
88,3451000,NaN,NaN,NaN,NaN,NaN
89,3462000,NaN,NaN,NaN,NaN,NaN
90,Total Expenses,NaN,NaN,NaN,NaN,NaN
91,1342562000,NaN,NaN,NaN,NaN,NaN
92,1371943000,NaN,NaN,NaN,NaN,NaN
93,823758000,NaN,NaN,NaN,NaN,NaN
94,652536000,NaN,NaN,NaN,NaN,NaN
95,903743000,NaN,NaN,NaN,NaN,NaN
96,Net Income from Continuing & Discontinued Oper...,NaN,NaN,NaN,NaN,NaN
97,-10870000,NaN,NaN,NaN,NaN,NaN
98,-12968000,NaN,NaN,NaN,NaN,NaN
99,13925000,NaN,NaN,NaN,NaN,NaN
100,2973000,NaN,NaN,NaN,NaN,NaN
101,21329000,NaN,NaN,NaN,NaN,NaN
102,Normalized Income,NaN,NaN,NaN,NaN,NaN
103,5863634,NaN,NaN,NaN,NaN,NaN
104,3119564,NaN,NaN,NaN,NaN,NaN
105,21221158,NaN,NaN,NaN,NaN,NaN
106,7310900,NaN,NaN,NaN,NaN,NaN
107,25211676,NaN,NaN,NaN,NaN,NaN
108,Interest Income,NaN,NaN,NaN,NaN,NaN
109,11326000,NaN,NaN,NaN,NaN,NaN
110,7108000,NaN,NaN,NaN,NaN,NaN
111,3591000,NaN,NaN,NaN,NaN,NaN
112,6182000,NaN,NaN,NaN,NaN,NaN
113,10675000,NaN,NaN,NaN,NaN,NaN
114,Interest Expense,NaN,NaN,NaN,NaN,NaN
115,73483000,NaN,NaN,NaN,NaN,NaN
116,54269000,NaN,NaN,NaN,NaN,NaN
117,42891000,NaN,NaN,NaN,NaN,NaN
118,46730000,NaN,NaN,NaN,NaN,NaN
119,50901000,NaN,NaN,NaN,NaN,NaN
120,Net Interest Income,NaN,NaN,NaN,NaN,NaN
121,-68683000,NaN,NaN,NaN,NaN,NaN
122,-53687000,NaN,NaN,NaN,NaN,NaN
123,-45674000,NaN,NaN,NaN,NaN,NaN
124,-45853000,NaN,NaN,NaN,NaN,NaN
125,-45344000,NaN,NaN,NaN,NaN,NaN
126,EBIT,NaN,NaN,NaN,NaN,NaN
127,121564000,NaN,NaN,NaN,NaN,NaN
128,94346000,NaN,NaN,NaN,NaN,NaN
129,108843000,NaN,NaN,NaN,NaN,NaN
130,84140000,NaN,NaN,NaN,NaN,NaN
131,127988000,NaN,NaN,NaN,NaN,NaN
132,EBITDA,NaN,NaN,NaN,NaN,NaN
133,179152000,NaN,NaN,NaN,NaN,NaN
134,164448000,NaN,NaN,NaN,NaN,NaN
135,155310000,NaN,NaN,NaN,NaN,NaN
136,111863000,NaN,NaN,NaN,NaN,NaN
137,163223000,NaN,NaN,NaN,NaN,NaN
138,Reconciled Cost of Revenue,NaN,NaN,NaN,NaN,NaN
139,1252743000,NaN,NaN,NaN,NaN,NaN
140,1288086000,NaN,NaN,NaN,NaN,NaN
141,746050000,NaN,NaN,NaN,NaN,NaN
142,576449000,NaN,NaN,NaN,NaN,NaN
143,818815000,NaN,NaN,NaN,NaN,NaN
144,Reconciled Depreciation,NaN,NaN,NaN,NaN,NaN
145,57588000,NaN,NaN,NaN,NaN,NaN
146,70102000,NaN,NaN,NaN,NaN,NaN
147,46467000,NaN,NaN,NaN,NaN,NaN
148,27723000,NaN,NaN,NaN,NaN,NaN
149,35235000,NaN,NaN,NaN,NaN,NaN
150,Net Income from Continuing Operation Net Minor...,NaN,NaN,NaN,NaN,NaN
151,-10870000,NaN,NaN,NaN,NaN,NaN
152,-12968000,NaN,NaN,NaN,NaN,NaN
153,13925000,NaN,NaN,NaN,NaN,NaN
154,2973000,NaN,NaN,NaN,NaN,NaN
155,21329000,NaN,NaN,NaN,NaN,NaN
156,Total Unusual Items Excluding Goodwill,NaN,NaN,NaN,NaN,NaN
157,-26571000,NaN,NaN,NaN,NaN,NaN
158,-24094000,NaN,NaN,NaN,NaN,NaN
159,-9992000,NaN,NaN,NaN,NaN,NaN
160,-6197000,NaN,NaN,NaN,NaN,NaN
161,-6162000,NaN,NaN,NaN,NaN,NaN
162,Total Unusual Items,NaN,NaN,NaN,NaN,NaN
163,-26571000,NaN,NaN,NaN,NaN,NaN
164,-24094000,NaN,NaN,NaN,NaN,NaN
165,-9992000,NaN,NaN,NaN,NaN,NaN
166,-6197000,NaN,NaN,NaN,NaN,NaN
167,-6162000,NaN,NaN,NaN,NaN,NaN
168,Normalized EBITDA,NaN,NaN,NaN,NaN,NaN
169,205723000,NaN,NaN,NaN,NaN,NaN
170,188542000,NaN,NaN,NaN,NaN,NaN
171,165302000,NaN,NaN,NaN,NaN,NaN
172,118060000,NaN,NaN,NaN,NaN,NaN
173,169385000,NaN,NaN,NaN,NaN,NaN
174,Tax Rate for Calcs,NaN,NaN,NaN,NaN,NaN
175,0,NaN,NaN,NaN,NaN,NaN
176,0,NaN,NaN,NaN,NaN,NaN
177,0,NaN,NaN,NaN,NaN,NaN
178,0,NaN,NaN,NaN,NaN,NaN
179,0,NaN,NaN,NaN,NaN,NaN
180,Tax Effect of Unusual Items,NaN,NaN,NaN,NaN,NaN
181,-9837366,NaN,NaN,NaN,NaN,NaN
182,-8006436,NaN,NaN,NaN,NaN,NaN
183,-2695842,NaN,NaN,NaN,NaN,NaN
184,-1859100,NaN,NaN,NaN,NaN,NaN
185,-2279324,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_rows', None)

In [5]:
# These are the columns where you want to transfer the values
columns = ['ttm', 'end_of_2022', 'end_of_2021', 'end_of_2020', 'end_of_2019']

# Start and end row for each block of rows to transpose
start_row = 0
end_row = 185

# Increment for each block of rows
increment = 6

for i in range(start_row, end_row+1, increment):
    # Transpose the values from rows i+1 to i+5 to the specified columns
    df.loc[i, columns] = df.loc[i+1:i+5, 'breakdown'].values

    # Drop the rows i+1 to i+5
    df = df.drop(range(i+1, i+6))

/tmp/ipykernel_15130/2291026894.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[i, columns] = df.loc[i+1:i+5, 'breakdown'].values

In [7]:
df = df.reset_index(drop=True)

In [8]:
df['ttm'] = df['ttm'].replace('-', 0)

In [10]:
pd.options.display.float_format = '{:.0f}'.format

In [11]:
df

,breakdown,ttm,end_of_2022,end_of_2021,end_of_2020,end_of_2019
0,Total Revenue,1480404000,1506591000,941193000,725797000,1020502000
1,Cost of Revenue,1252743000,1288086000,746050000,576449000,818815000
2,Gross Profit,227661000,218505000,195143000,149348000,201687000
3,Operating Expense,89819000,83857000,77708000,76087000,84928000
4,Operating Income,137842000,134648000,117435000,73261000,116759000
5,Net Non Operating Interest Income Expense,-68683000,-53687000,-45674000,-45853000,-45344000
6,Pretax Income,48081000,40077000,65952000,37410000,77087000
7,Tax Provision,17801000,13317000,17793000,15531000,28513000
8,Net Income Common Stockholders,-16894000,-19418000,5919000,-3967000,14142000
9,Diluted NI Available to Com Stockholders,-16894000,-19418000,5919000,-3967000,14142000
10,Basic EPS,0,-8,2,-2,6
11,Diluted EPS,0,-8,2,-2,6
12,Basic Average Shares,0,2384000,2384000,2384000,2384000
13,Diluted Average Shares,0,2384000,2384000,2384000,2384000
14,Rent Expense Supplemental,0,3304000,3060000,3451000,3462000
15,Total Expenses,1342562000,1371943000,823758000,652536000,903743000
16,Net Income from Continuing & Discontinued Oper...,-10870000,-12968000,13925000,2973000,21329000
17,Normalized Income,5863634,3119564,21221158,7310900,25211676
18,Interest Income,11326000,7108000,3591000,6182000,10675000
19,Interest Expense,73483000,54269000,42891000,46730000,50901000
20,Net Interest Income,-68683000,-53687000,-45674000,-45853000,-45344000
21,EBIT,121564000,94346000,108843000,84140000,127988000
22,EBITDA,179152000,164448000,155310000,111863000,163223000
23,Reconciled Cost of Revenue,1252743000,1288086000,746050000,576449000,818815000
24,Reconciled Depreciation,57588000,70102000,46467000,27723000,35235000
25,Net Income from Continuing Operation Net Minor...,-10870000,-12968000,13925000,2973000,21329000
26,Total Unusual Items Excluding Goodwill,-26571000,-24094000,-9992000,-6197000,-6162000
27,Total Unusual Items,-26571000,-24094000,-9992000,-6197000,-6162000
28,Normalized EBITDA,205723000,188542000,165302000,118060000,169385000
29,Tax Rate for Calcs,0,0,0,0,0
30,Tax Effect of Unusual Items,-9837366,-8006436,-2695842,-1859100,-2279324

In [12]:
df.to_csv('cleaned_income_statement.csv', index=False)

In [21]:
# Load the first sheet of the Excel file into a data frame
df = pd.read_excel('/home/cmjhunneil/Documents/Financial Statement(Dirty).xlsx', sheet_name='Balance Sheet')

In [22]:
df

,breakdown,end_of_2022,end_of_2021,end_of_2020,end_of_2019
0,Total Assets,NaN,NaN,NaN,NaN
1,2391825000,NaN,NaN,NaN,NaN
2,2051653000,NaN,NaN,NaN,NaN
3,1912207000,NaN,NaN,NaN,NaN
4,1817734000,NaN,NaN,NaN,NaN
5,Total Liabilities Net Minority Interest,NaN,NaN,NaN,NaN
6,1752673000,NaN,NaN,NaN,NaN
7,1370414000,NaN,NaN,NaN,NaN
8,1257119000,NaN,NaN,NaN,NaN
9,1243339000,NaN,NaN,NaN,NaN
10,Total Equity Gross Minority Interest,NaN,NaN,NaN,NaN
11,639152000,NaN,NaN,NaN,NaN
12,681239000,NaN,NaN,NaN,NaN
13,655088000,NaN,NaN,NaN,NaN
14,574395000,NaN,NaN,NaN,NaN
15,Total Capitalization,NaN,NaN,NaN,NaN
16,1203376000,NaN,NaN,NaN,NaN
17,1052188000,NaN,NaN,NaN,NaN
18,1048218000,NaN,NaN,NaN,NaN
19,972202000,NaN,NaN,NaN,NaN
20,Preferred Stock Equity,NaN,NaN,NaN,NaN
21,10187000,NaN,NaN,NaN,NaN
22,10187000,NaN,NaN,NaN,NaN
23,10187000,NaN,NaN,NaN,NaN
24,10187000,NaN,NaN,NaN,NaN
25,Common Stock Equity,NaN,NaN,NaN,NaN
26,274606000,NaN,NaN,NaN,NaN
27,316443000,NaN,NaN,NaN,NaN
28,344677000,NaN,NaN,NaN,NaN
29,322269000,NaN,NaN,NaN,NaN
30,Capital Lease Obligations,NaN,NaN,NaN,NaN
31,75475000,NaN,NaN,NaN,NaN
32,94992000,NaN,NaN,NaN,NaN
33,117037000,NaN,NaN,NaN,NaN
34,142248000,NaN,NaN,NaN,NaN
35,Net Tangible Assets,NaN,NaN,NaN,NaN
36,-136335000,NaN,NaN,NaN,NaN
37,11689000,NaN,NaN,NaN,NaN
38,61898000,NaN,NaN,NaN,NaN
39,55105000,NaN,NaN,NaN,NaN
40,Working Capital,NaN,NaN,NaN,NaN
41,156685000,NaN,NaN,NaN,NaN
42,189806000,NaN,NaN,NaN,NaN
43,253027000,NaN,NaN,NaN,NaN
44,201527000,NaN,NaN,NaN,NaN
45,Invested Capital,NaN,NaN,NaN,NaN
46,1630925000,NaN,NaN,NaN,NaN
47,1321637000,NaN,NaN,NaN,NaN
48,1253178000,NaN,NaN,NaN,NaN
49,1175315000,NaN,NaN,NaN,NaN
50,Tangible Book Value,NaN,NaN,NaN,NaN
51,-146522000,NaN,NaN,NaN,NaN
52,1502000,NaN,NaN,NaN,NaN
53,51711000,NaN,NaN,NaN,NaN
54,44918000,NaN,NaN,NaN,NaN
55,Total Debt,NaN,NaN,NaN,NaN
56,1431794000,NaN,NaN,NaN,NaN
57,1100186000,NaN,NaN,NaN,NaN
58,1025538000,NaN,NaN,NaN,NaN
59,995294000,NaN,NaN,NaN,NaN
60,Net Debt,NaN,NaN,NaN,NaN
61,1038105000,NaN,NaN,NaN,NaN
62,705164000,NaN,NaN,NaN,NaN
63,561292000,NaN,NaN,NaN,NaN
64,566589000,NaN,NaN,NaN,NaN
65,Share Issued,NaN,NaN,NaN,NaN
66,3288649,NaN,NaN,NaN,NaN
67,3288649,NaN,NaN,NaN,NaN
68,3288649,NaN,NaN,NaN,NaN
69,3288649,NaN,NaN,NaN,NaN
70,Ordinary Shares Number,NaN,NaN,NaN,NaN
71,2383897,NaN,NaN,NaN,NaN
72,2383897,NaN,NaN,NaN,NaN
73,2383897,NaN,NaN,NaN,NaN
74,2383897,NaN,NaN,NaN,NaN
75,Preferred Shares Number,NaN,NaN,NaN,NaN
76,843238,NaN,NaN,NaN,NaN
77,1396798,NaN,NaN,NaN,NaN
78,1396798,NaN,NaN,NaN,NaN
79,1381633,NaN,NaN,NaN,NaN
80,Treasury Shares Number,NaN,NaN,NaN,NaN
81,904753,NaN,NaN,NaN,NaN
82,904753,NaN,NaN,NaN,NaN
83,904753,NaN,NaN,NaN,NaN
84,904753,NaN,NaN,NaN,NaN

In [23]:
# These are the columns where you want to transfer the values
columns = ['end_of_2022', 'end_of_2021', 'end_of_2020', 'end_of_2019']

# Start and end row for each block of rows to transpose
start_row = 0
end_row = 84

# Increment for each block of rows
increment = 5

for i in range(start_row, end_row+1, increment):
    # Transpose the values from rows i+1 to i+5 to the specified columns
    df.loc[i, columns] = df.loc[i+1:i+4, 'breakdown'].values

    # Drop the rows i+1 to i+5
    df = df.drop(range(i+1, i+5))

df = df.reset_index(drop=True)

pd.options.display.float_format = '{:.0f}'.format

In [24]:
df

,breakdown,end_of_2022,end_of_2021,end_of_2020,end_of_2019
0,Total Assets,2391825000,2051653000,1912207000,1817734000
1,Total Liabilities Net Minority Interest,1752673000,1370414000,1257119000,1243339000
2,Total Equity Gross Minority Interest,639152000,681239000,655088000,574395000
3,Total Capitalization,1203376000,1052188000,1048218000,972202000
4,Preferred Stock Equity,10187000,10187000,10187000,10187000
5,Common Stock Equity,274606000,316443000,344677000,322269000
6,Capital Lease Obligations,75475000,94992000,117037000,142248000
7,Net Tangible Assets,-136335000,11689000,61898000,55105000
8,Working Capital,156685000,189806000,253027000,201527000
9,Invested Capital,1630925000,1321637000,1253178000,1175315000
10,Tangible Book Value,-146522000,1502000,51711000,44918000
11,Total Debt,1431794000,1100186000,1025538000,995294000
12,Net Debt,1038105000,705164000,561292000,566589000
13,Share Issued,3288649,3288649,3288649,3288649
14,Ordinary Shares Number,2383897,2383897,2383897,2383897
15,Preferred Shares Number,843238,1396798,1396798,1381633
16,Treasury Shares Number,904753,904753,904753,904753

In [25]:
df.to_csv('cleaned_balance_sheet.csv', index=False)

In [30]:
# Load the first sheet of the Excel file into a data frame
df = pd.read_excel('/home/cmjhunneil/Documents/Financial Statement(Dirty).xlsx', sheet_name='Cash Flow')

In [31]:
df

,breakdown,ttm,end_of_2022,end_of_2021,end_of_2020,end_of_2019
0,Operating Cash Flow,NaN,NaN,NaN,NaN,NaN
1,77636000,NaN,NaN,NaN,NaN,NaN
2,-12393000,NaN,NaN,NaN,NaN,NaN
3,50138000,NaN,NaN,NaN,NaN,NaN
4,50854000,NaN,NaN,NaN,NaN,NaN
5,92195000,NaN,NaN,NaN,NaN,NaN
6,Investing Cash Flow,NaN,NaN,NaN,NaN,NaN
7,-216415000,NaN,NaN,NaN,NaN,NaN
8,-201528000,NaN,NaN,NaN,NaN,NaN
9,-127572000,NaN,NaN,NaN,NaN,NaN
10,-82629000,NaN,NaN,NaN,NaN,NaN
11,-112040000,NaN,NaN,NaN,NaN,NaN
12,Financing Cash Flow,NaN,NaN,NaN,NaN,NaN
13,99717000,NaN,NaN,NaN,NaN,NaN
14,224298000,NaN,NaN,NaN,NaN,NaN
15,21096000,NaN,NaN,NaN,NaN,NaN
16,101979000,NaN,NaN,NaN,NaN,NaN
17,66756000,NaN,NaN,NaN,NaN,NaN
18,End Cash Position,NaN,NaN,NaN,NaN,NaN
19,263882000,NaN,NaN,NaN,NaN,NaN
20,318214000,NaN,NaN,NaN,NaN,NaN
21,300030000,NaN,NaN,NaN,NaN,NaN
22,347209000,NaN,NaN,NaN,NaN,NaN
23,286457000,NaN,NaN,NaN,NaN,NaN
24,Capital Expenditure,NaN,NaN,NaN,NaN,NaN
25,-144353000,NaN,NaN,NaN,NaN,NaN
26,-134148000,NaN,NaN,NaN,NaN,NaN
27,-100428000,NaN,NaN,NaN,NaN,NaN
28,-63837000,NaN,NaN,NaN,NaN,NaN
29,-66805000,NaN,NaN,NaN,NaN,NaN
30,Issuance of Capital Stock,NaN,NaN,NaN,NaN,NaN
31,-,NaN,NaN,NaN,NaN,NaN
32,0,NaN,NaN,NaN,NaN,NaN
33,61899000,NaN,NaN,NaN,NaN,NaN
34,33588000,NaN,NaN,NaN,NaN,NaN
35,0,NaN,NaN,NaN,NaN,NaN
36,Issuance of Debt,NaN,NaN,NaN,NaN,NaN
37,1575857000,NaN,NaN,NaN,NaN,NaN
38,1502120000,NaN,NaN,NaN,NaN,NaN
39,901523000,NaN,NaN,NaN,NaN,NaN
40,973624000,NaN,NaN,NaN,NaN,NaN
41,1564718000,NaN,NaN,NaN,NaN,NaN
42,Repayment of Debt,NaN,NaN,NaN,NaN,NaN
43,-1368073000,NaN,NaN,NaN,NaN,NaN
44,-1190035000,NaN,NaN,NaN,NaN,NaN
45,-824566000,NaN,NaN,NaN,NaN,NaN
46,-900688000,NaN,NaN,NaN,NaN,NaN
47,-1502472000,NaN,NaN,NaN,NaN,NaN
48,Repurchase of Capital Stock,NaN,NaN,NaN,NaN,NaN
49,-,NaN,NaN,NaN,NaN,NaN
50,-12300000,NaN,NaN,NaN,NaN,NaN
51,-51676000,NaN,NaN,NaN,NaN,NaN
52,-27656000,NaN,NaN,NaN,NaN,NaN
53,-6782000,NaN,NaN,NaN,NaN,NaN
54,Free Cash Flow,NaN,NaN,NaN,NaN,NaN
55,-66717000,NaN,NaN,NaN,NaN,NaN
56,-146541000,NaN,NaN,NaN,NaN,NaN
57,-50290000,NaN,NaN,NaN,NaN,NaN
58,-12983000,NaN,NaN,NaN,NaN,NaN
59,25390000,NaN,NaN,NaN,NaN,NaN

In [32]:
# These are the columns where you want to transfer the values
columns = ['ttm', 'end_of_2022', 'end_of_2021', 'end_of_2020', 'end_of_2019']

# Start and end row for each block of rows to transpose
start_row = 0
end_row = 59

# Increment for each block of rows
increment = 6

for i in range(start_row, end_row+1, increment):
    # Transpose the values from rows i+1 to i+5 to the specified columns
    df.loc[i, columns] = df.loc[i+1:i+5, 'breakdown'].values

    # Drop the rows i+1 to i+5
    df = df.drop(range(i+1, i+6))

df = df.reset_index(drop=True)

df['ttm'] = df['ttm'].replace('-', 0)

pd.options.display.float_format = '{:.0f}'.format

/tmp/ipykernel_15130/2173080999.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[i, columns] = df.loc[i+1:i+5, 'breakdown'].values

In [33]:
df

,breakdown,ttm,end_of_2022,end_of_2021,end_of_2020,end_of_2019
0,Operating Cash Flow,77636000,-12393000,50138000,50854000,92195000
1,Investing Cash Flow,-216415000,-201528000,-127572000,-82629000,-112040000
2,Financing Cash Flow,99717000,224298000,21096000,101979000,66756000
3,End Cash Position,263882000,318214000,300030000,347209000,286457000
4,Capital Expenditure,-144353000,-134148000,-100428000,-63837000,-66805000
5,Issuance of Capital Stock,0,0,61899000,33588000,0
6,Issuance of Debt,1575857000,1502120000,901523000,973624000,1564718000
7,Repayment of Debt,-1368073000,-1190035000,-824566000,-900688000,-1502472000
8,Repurchase of Capital Stock,0,-12300000,-51676000,-27656000,-6782000
9,Free Cash Flow,-66717000,-146541000,-50290000,-12983000,25390000

In [34]:
df.to_csv('cleaned_cash_flow.csv', index=False)